//Fonts
$ff-RobotoBold: 'Roboto Bold';
$ff-RobotoLight: 'Roboto Light';
$ff-RobotoRegular: 'Roboto Regular';

//Colors
$col-yellow: #e3b548;
$col-pink: #cf4079;
$col-limegreen: #00ffb4;

@import "common/reset";
@import "fonts";
@import "general";
@import "header";
@import "demands";
@import "premiere";
@import "application";
//internal page
@import "internal";