.application {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 230px;
	@media (max-width: 1024px) {
		padding-bottom: 150px;
	}
	@media (max-width: 768px) {
		padding-bottom: 90px;
	}
	@media (max-width: 360px) {
		padding-bottom: 150px;
	}
	&--wrap {
		background-image: url("../images/application_bg.png");
		background-size: cover;
		padding-top: 149px;
		padding-bottom: 70px;
		position: relative;
		@media (max-width: 1200px) {
			background-position: center;
		}
		@media (max-width: 1024px) {
			padding-top: 109px;
		}
		@media (max-width: 768px) {
			background-position: left;
		}
		@media (max-width: 480px) {
			background-position: right;
			padding-left: 37px;
			padding-right: 37px;
		}
		@media (max-width: 360px) {
			padding-top: 126px;
			padding-bottom: 87px;
		}
		&:after {
			content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAcCAYAAACK7SRjAAAARUlEQVRIS+3VuREAMAgDQan/onFkItlq4Eh5gh0GPNLoE5b8StfeWsDwZIt53DhYYFkBc1vi6YAFlhWoy1ALeNA86CtwAF8Lb+UVjJ0mAAAAAElFTkSuQmCC);
			position: absolute;
			top: 81px;
			right: 77px;
			@media (max-width: 480px) {
				top: 73px;
				right: 42px;
			}
		}
	}
	h3 {
		padding-bottom: 8px;
		color: $col-limegreen;
		font-family: $ff-RobotoBold;
		font-size: 63px;
		@media (max-width: 768px) {
			font-size: 43px;
		}
		@media (max-width: 360px) {
			font-size: 36px;
		}
	}
	p {
		padding-bottom: 56px;
		color: white;
		font-family: $ff-RobotoLight;
		font-size: 22px;
		@media (max-width: 768px) {
			padding-bottom: 46px;
			text-align: center;
		}
		@media (max-width: 360px) {
			margin-left: 28px;
			width: 116%;
			text-align: center;
			padding-bottom: 43px;
		}
	}
	&__btn {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		max-width: 552px;
		margin-bottom: 87px;
		border: 1px solid rgba(#ffffff, .2);
		border-radius: 10px;
		@media (max-width: 768px) {
			margin-bottom: 67px;
		}
		@media (max-width: 480px) {
			margin-bottom: 37px;
			flex-direction: column;
		}
		&-item {
			position: relative;
			width: 50%;
			@media (max-width: 480px) {
				width: 100%;
			}
			&:hover {
				input {
					&:not(:checked) + span:hover {
						color: $col-limegreen;
					}
				}
			}
			&:first-child {
				span {
					border-bottom-left-radius: 10px;
					border-top-left-radius: 10px;
					@media (max-width: 480px) {
						border-bottom-left-radius: 0;
						border-top-right-radius: 10px;
					}
				}
			}
			&:last-child {
				span {
					border-bottom-right-radius: 10px;
					border-top-right-radius: 10px;
					@media (max-width: 480px) {
						border-bottom-left-radius: 10px;
						border-top-right-radius: 0;
					}
				}

			}
			input {
				display: none;
				&:checked + span {
					color: black;
					background-color: $col-limegreen;
				}
			}
			span {
				display: block;
				line-height: 63px;
				text-align: center;
				color: white;
				font-family: $ff-RobotoRegular;
				font-size: 14px;
				font-weight: 400;
				letter-spacing: 1.96px;
				text-transform: uppercase;
				transition: all .3s ease-in;
				cursor: pointer;
				@media (max-width: 768px) {
					line-height: 53px;
				}
				@media (max-width: 360px) {
					line-height: 60px;
				}
			}
		}
	}
	&__entry {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
		input,
		textarea {
			width: 100%;
			max-width: 552px;
			border: 1px solid rgba(#ffffff, .2);
			border-radius: 10px;
			margin-bottom: 8px;
			background: transparent;
			padding-left: 25px;
			color: rgba(#ffffff, .4);
			font-family: $ff-RobotoRegular;
			font-size: 16px;
			font-weight: 300;
			&:hover,
			&:focus {
				border-color:  $col-limegreen;
				background-color: black;
				color: white;
			}
			&.isempty {
				border-color: rgba(#ffffff, .7);
				color: white;
			}
			@media (max-width: 360px) {
				margin-bottom: 10px;
			}
		}
		input {
			line-height: 54px;
			@media (max-width: 768px) {
				line-height: 49px;
			}
			@media (max-width: 360px) {
				line-height: 53px;
			}
		}
		textarea {
			resize: none;
			height: 152px;
			line-height: 49px;
			padding-right: 10px;
			@media (max-width: 768px) {
				height: 122px;
				line-height: 25px;
				padding-top: 8px;
			}
			@media (max-width: 360px) {
				height: 148px;
			}
		}
	}
	h6 {
		max-width: 446px;
		padding-top: 58px;
		padding-bottom: 54px;
		text-align: center;
		color: white;
		font-size: 15px;
		font-family: $ff-RobotoLight;
		font-weight: 300;
		line-height: 18px;
		@media (max-width: 768px) {
			padding-top: 48px;
			padding-bottom: 44px;
		}
		@media (max-width: 360px) {
			padding-top: 28px;
			padding-bottom: 61px;
		}
	}
	&__police {
		input {
			display: none;
			&:checked + span:before {
				opacity: 1;
				transform: translateY(0);
			}
		}
		span {
			position: relative;
			color: white;
			font-family: $ff-RobotoRegular;
			font-size: 15px;
			font-weight: 300;
			padding-left: 50px;
			&:after {
				content: '';
				position: absolute;
				left: 1px;
				top: -7px;
				width: 32px;
				height: 32px;
				border: 1px solid white;
				opacity: 0.3;
				border-radius: 7px;
			}
			&:before {
				content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAJCAYAAAACTR1pAAAAhUlEQVQoU5XR0Q1AMBAG4P8k3pnIAEiMUBsYxQa6AQnebWQAiZM6QdMS+tjc1/vzl/Dn8KgATkBZSZ+doEbml/gbtBCVoFQL5EEDNJkLJ4EHmRkCtxEQzgLktRM/IIH7xnv+A7+gCzoYZqvypjji2OVYWzzRbwW4rXJfAEEFrDUo756+awMOlznI10V8SgAAAABJRU5ErkJggg==);
				position: absolute;
				left: 10px;
				top: 1px;
				opacity: 0;
				transform: translateY(-5px);
				transition: all .3s ease;
			}
		}
	}
	button {
		appearance: none;
		background: black;
		border: none;
		border-radius: 10px;
		line-height: 66px;
		color: $col-limegreen;
		font-family: $ff-RobotoRegular;
		font-size: 14px;
		text-transform: uppercase;
		letter-spacing: 1.96px;
		margin-top: 50px;
		cursor: pointer;
		padding: 0;
		&:hover {
			span {
				&:after,
				&:before {
					border-color: $col-limegreen;
				}
			}
		}
	}
	&__footer {
		width: 100%;
		padding-left: 88px;
		padding-right: 89px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		@media (max-width: 600px) {
			position: relative;
			padding-bottom: 40px;
		}
		@media (max-width: 430px) {
			padding-left: 3px;
			padding-right: 2px;
		}
		&-copyright,
		&-contacts {
			color: white;
			font-family: $ff-RobotoRegular;
			font-size: 14px;
			font-weight: 300;
		}
		&-contacts {
			transform: translateX(3px);
			transition: all .3s ease;
			&:hover {
				color: $col-limegreen;
			}
		}
		&-social {
			display: flex;
			align-items: center;
			transform: translateX(-17px);
			@media (max-width: 600px) {
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				bottom: -20px;
			}
			@media (max-width: 360px) {
				transform: translateX(-50%);
				bottom: -29px;
			}
			a {
				position: relative;
				margin: 0 8px;
				width: 35px;
				height: 35px;
				border-radius: 100px;
				background: black;
				border: 1px solid transparent;
				transition: all .3s ease;
				svg {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
				}
				&:hover {
					border-color: $col-limegreen;
					background: transparent;
				}
			}
			.cls-1 {
				fill: $col-limegreen;
				fill-rule: evenodd;
			}
		}

	}
	&-corner {
		position: absolute;
		.cls-1 {
			fill: white;
			fill-rule: evenodd;
		}
		&.corner1 {
			top: 37px;
			left: 38px;
			@media (max-width: 480px) {
				left: 10px;
			}
		}
		&.corner2 {
			top: 39px;
			right: 32px;
			@media (max-width: 480px) {
				right: 10px;
			}
		}
		&.corner3 {
			right: 32px;
			bottom: 31px;
			@media (max-width: 480px) {
				right: 10px;
				bottom: 26px;
			}
		}
		&.corner4 {
			left: 36px;
			bottom: 31px;
			@media (max-width: 480px) {
				left: 10px;
				bottom: 25px;
			}
		}

	}
}