.demands {
	padding-left: 23px;
	@media (max-width: 430px) {
		padding-left: 10px;
	}
	&--wrap {
		background-image: url("../images/demands_bg.png");
		background-size: cover;
		padding-top: 211px;
		padding-bottom: 258px;
		@media (max-width: 1200px) {
			background-position: bottom;
		}
		@media (max-width: 1024px) {
			padding-top: 101px;
			padding-bottom: 138px;
		}
		@media (max-width: 768px) {
			padding-bottom: 108px;
		}
		@media (max-width: 480px) {
			background-position: right;
		}
		@media (max-width: 360px) {
			padding-bottom: 108px;
			padding-left: 24px;
			padding-top: 52px;
			background-position: left;
		}
		@media (max-width: 359px) {
			padding-left: 0;
		}
	}
	p {
		padding-left: 4px;
	}
	h3 {
		color: $col-yellow;
		max-width: 700px;
		padding-bottom: 15px;
		@media (max-width: 360px) {
			padding-bottom: 30px;
		}
	}
	h5 {
		color: white;
		max-width: 540px;
		padding-left: 4px;
		padding-bottom: 57px;
		@media (max-width: 768px) {
			padding-bottom: 37px;
		}
		@media (max-width: 360px) {
			padding-bottom: 65px;
		}
	}
	a {
		background-color: $col-yellow;
		&:hover {
			color: $col-yellow;
			background: black;
			span {
				&:after,
				&:before {
					border-color: $col-yellow;
				}
			}
		}
	}
	ul {
		padding-bottom: 68px;
		@media (max-width: 768px) {
			padding-bottom: 48px;
		}
		@media (max-width: 360px) {
			padding-bottom: 56px;
		}
	}

}