 @font-face {
     font-family : 'Roboto Bold';
     font-style  : normal;
     src: url('../fonts/Roboto-Bold.eot');
     src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
          url('../fonts/Roboto-Bold.woff') format('woff'),
          url('../fonts/Roboto-Bold.woff2') format('woff2'),
          url('../fonts/Roboto-Bold.ttf') format('truetype'),
          url('../fonts/Roboto-Bold.svg#webfont') format('svg');
 }

 @font-face {
      font-family : 'Roboto Light';
      font-style  : normal;
      src: url('../fonts/Roboto-Light.eot');
      src: url('../fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Roboto-Light.woff') format('woff'),
      url('../fonts/Roboto-Light.woff2') format('woff2'),
      url('../fonts/Roboto-Light.ttf') format('truetype'),
      url('../fonts/Roboto-Light.svg#webfont') format('svg');
 }

 @font-face {
      font-family : 'Roboto Regular';
      font-weight : 400;
      font-style  : normal;
      src: url('../fonts/Roboto-Regular.eot');
      src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Roboto-Regular.woff') format('woff'),
      url('../fonts/Roboto-Regular.woff2') format('woff2'),
      url('../fonts/Roboto-Regular.ttf') format('truetype'),
      url('../fonts/Roboto-Regular.svg#webfont') format('svg');
 }
