.header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	padding-top: 33px;
	transition: all 1s ease;
	z-index: 9;
	&.active {
		background: rgba(#000, .6);
		padding-top: 16px;
		padding-bottom: 15px;
		border-bottom-right-radius: 10px;
		border-bottom-left-radius: 10px;
		.header__lang {
			top: 50%;
			transform: translateY(-50%);
		}
	}
	&__scrollBottom {
		position: absolute;
		left: 50%;
		bottom: 154px;
		transform: translateX(-50%);
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		@media (max-width: 600px) {
			bottom: 80px;
		}
		@media (max-width: 360px) {
			bottom: 88px;
		}
		span {
			&:nth-child(1),
			&:nth-child(2),
			&:nth-child(3) {
				width: 5px;
				height: 5px;
				border-radius: 100px;
				background-color: white;
				margin-bottom: 6px;
				animation: scrollBottom 1s infinite ease-in-out;
			}
			&:nth-child(1) {
				animation-delay: 0.2s;
			}
			&:nth-child(2) {
				animation-delay: 0.4s;
			}
			&:nth-child(3) {
				animation-delay: 0.6s;
			}
			&:nth-child(4) {
				border: 8px solid transparent;
				border-top: 9px solid white;
				margin-top: 5px;
				animation: scrollBottomArrow .8s infinite ease-in alternate-reverse;
			}
		}
	}
	&__content {
		position: relative;
		padding: 99px 33px 86px;
		width: 100%;
		max-width: 966px;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		@media (max-width: 1024px) {
			padding: 99px 63px 87px;
			max-width: calc(100% - 110px);
		}
		@media (max-width: 600px) {
			max-width: calc(100% - 40px);
		}
		@media (max-width: 480px) {
			padding: 79px 20px 67px;
		}
		@media (max-width: 360px) {
			padding: 75px 43px 67px;
			max-width: 100%;
		}
		@media (max-width: 359px) {
			padding: 75px 10px 67px;
		}
		&:after {
			content: '';
			position: absolute;
			top: 29px;
			right: 29px;
			width: 25px;
			height: 25px;
			background-color: red;
			border-radius: 100px;
			@media (max-width: 1024px) {
				right: 49px;
			}
			@media (max-width: 360px) {
				right: 28px;
			}
		}
		&-corner {
			position: absolute;
			transition: all 0.5s cubic-bezier(.69, 1.21, 0, 3.32);
			&.corner1 {
				top: 0;
				left: 0;
				@media (max-width: 1024px) {
					left: 10px;
				}
				@media (max-width: 360px) {
					top: 6px;
				}
			}
			&.corner2 {
				top: 0;
				right: 0;
				@media (max-width: 1024px) {
					right: 10px;
				}
				@media (max-width: 360px) {
					top: 6px;
				}
			}
			&.corner3 {
				right: 0;
				bottom: 0;
				@media (max-width: 1024px) {
					right: 10px;
				}
				@media (max-width: 360px) {
					bottom: -12px;
				}
			}
			&.corner4 {
				left: 0;
				bottom: 0;
				@media (max-width: 1024px) {
					left: 10px;
				}
				@media (max-width: 360px) {
					bottom: -12px;
				}
			}
		}
		h3 {
			color: $col-limegreen;
			font-family: $ff-RobotoBold;
			font-size: 63px;
			letter-spacing: 1.26px;
			padding-bottom: 13px;
			@media (max-width: 768px) {
				font-size: 43px;
			}
			@media (max-width: 360px) {
				padding-bottom: 28px;
				line-height: 50px;
			}
		}
		p {
			text-shadow: 0 0 43px black;
			color: white;
			font-family: $ff-RobotoLight;
			font-size: 22px;
			max-width: 775px;
			margin-left: auto;
			margin-right: auto;
			line-height: 26px;
			&:last-child {
				max-width: 656px;
			}
		}
		.cls-1 {
			fill: white;
			fill-rule: evenodd;
		}
	}
	&__lang {
		position: absolute;
		top: 44px;
		right: 31px;
		transition: all 1s ease;
		@media (max-width: 360px) {
			top: 9px;
			right: 6px;
		}
		a {
			color: white;
			font-family: $ff-RobotoRegular;
			font-size: 14px;
			text-transform: uppercase;
			letter-spacing: 1.96px;
			transition: all .3s ease;
			&:hover {
				color: $col-limegreen;
			}
		}
	}
	&__logo {
		@media (max-width: 480px) {
			margin-left: -39px;
		}
		@media (max-width: 359px) {
			margin-left: -49px;
		}
		.cls-1 {
			fill: $col-limegreen;
		}
		.cls-1, .cls-2 {
			fill-rule: evenodd;
		}
		.cls-2 {
			fill: white;
		}
	}
	&--wrap {
		background-image: url("../images/header_bg.png");
		background-size: cover;
		padding-bottom: 350px;
		padding-top: 263px;
		position: relative;
		@media (max-width: 1024px) {
			padding-bottom: 300px;
			padding-top: 213px;
		}
		@media (max-width: 600px) {
			padding-bottom: 210px;
			padding-top: 173px;
		}
		@media (max-width: 360px) {
			padding-bottom: 228px;
			padding-top: 147px;
			background-position: bottom;
		}
	}
}

@keyframes scrollBottom {
	0% {
		opacity: .3;
	}
	50% {
		opacity: 1;
		transform: translate3d(0, -3px, 0);
	}
	100% {
		opacity: .3;
		transform: translate3d(0, 0, 0);
	}
}

@keyframes scrollBottomArrow {
	0% {
		opacity: .5;
	}
	100% {
		opacity: 1;
	}
}