.internal {
	.header {
		justify-content: space-between;
		align-items: center;
		padding: 34px 32px 42px 44px;
		background-image: url("../images/internal_header_bg.png");
		background-size: cover;
		background-position: center;
		@media (max-width: 480px) {
			flex-wrap: wrap;
			padding: 16px 22px 32px 34px;
		}
		&.active {
			padding-top: 16px;
			padding-bottom: 15px;
			.header {
				&__lang {
					top: 0;
					transform: translateY(0);
				}
				&__logo {
					@media (max-width: 480px) {
						margin-bottom: 17px;
					}
				}
			}

		}
		&--wrap {
			padding-top: 0;
			padding-bottom: 0;
			background-image: none;
		}
		&__logo {
			margin-left: -41px;
			@media (max-width: 480px) {
				width: 100%;
				margin-left: 0;
				margin-bottom: 25px;
				transition: all .3s ease;
				svg {
					display: block;
					margin: 0 auto;
				}
			}
		}
		&__lang {
			position: relative;
			top: auto;
			right: auto;
			@media (max-width: 480px) {
				order: 2;
			}
		}
		&__link {
			color: white;
			font-family: $ff-RobotoRegular;
			font-size: 14px;
			letter-spacing: 1.12px;
			transition: all .3s ease;
			@media (max-width: 480px) {
				order: 1;
			}
			&:hover {
				color: $col-limegreen;
			}
		}
	}
	.content {
		padding-right: 40px;
		@media (max-width: 1023px) {
			padding-right: 0;
		}
		@media (max-width: 360px) {
			padding-left: 4.3%;
			padding-right: 4.3%;
		}
		&__title {
			padding-bottom: 42px;
			color: $col-limegreen;
			font-family: $ff-RobotoBold;
			font-size: 63px;
			letter-spacing: 1.26px;
			@media (max-width: 768px) {
				font-size: 43px;
			}
			@media (max-width: 360px) {
				padding-bottom: 32px;
				font-size: 32px;
			}
		}
		&__text {
			color: black;
			font-family: $ff-RobotoLight;
			font-size: 14px;
			font-weight: 300;
			line-height: 19px;
			padding: 0 30px 20px 10px;
			@media (max-width: 1023px) {
				padding-right: 10px;
			}
			@media (max-width: 360px) {
				padding-left: 0;
				padding-right: 0;
			}
		}
		&__quote {
			position: relative;
			margin-top: 56px;
			padding: 37px 68px 40px 57px;
			color: #000000;
			font-family: $ff-RobotoRegular;
			font-size: 16px;
			font-weight: 400;
			line-height: 19px;
			@media (max-width: 1023px) {
				padding-right: 57px;
				p {
					text-align: center;
				}
			}
			@media (max-width: 360px) {
				padding-left: 37px;
				padding-right: 37px;
			}
			&:hover {
				.corner1 {
					transform: translate3d(-15px, -15px, 0);
				}
				.corner2 {
					transform: translate3d(15px, -15px, 0);
				}
				.corner3 {
					transform: translate3d(15px, 15px, 0);
				}
				.corner4 {
					transform: translate3d(-15px, 15px, 0);
				}
			}
			&-corner {
				position: absolute;
				width: 46px;
				height: 45px;
				transition: all 0.5s cubic-bezier(.69, 1.21, 0, 3.32);
				svg {
					width: 100%;
				}
				.cls-1 {
					fill: $col-limegreen;
					fill-rule: evenodd;
				}
				&.corner1 {
					top: -12px;
					left: 11px;
				}
				&.corner2 {
					top: -12px;
					right: 43px;
					@media (max-width: 1023px) {
						right: 11px;
					}
				}
				&.corner3 {
					right: 43px;
					bottom: 10px;
					@media (max-width: 1023px) {
						right: 11px;
					}
				}
				&.corner4 {
					left: 11px;
					bottom: 11px;
				}

			}
		}
		&__sidebar {
			min-width: 39.5%;
			padding-top: 13px;
			@media (max-width: 1023px) {
				padding-top: 53px;
			}
			div {
				width: 100%;
				height: 316px;
				padding-top: 39px;
				padding-left: 52px;
				margin-bottom: 35px;
				background-size: cover;
				background-position: bottom;
				@media (max-width: 360px) {
					height: 286px;
					padding-top: 29px;
					padding-left: 13px;
					margin-bottom: 15px;
				}
			}
			p {
				padding-left: 5px;
				padding-bottom: 28px;
				opacity: 0.3;
				color: white;
				font-family: $ff-RobotoRegular;
				font-size: 14px;
				text-transform: uppercase;
				letter-spacing: 1.96px;
			}
			h5 {
				padding-bottom: 30px;
				font-family: $ff-RobotoRegular;
				font-size: 30px;
				font-weight: 700;
				line-height: 34px;
				@media (max-width: 360px) {
					font-size: 28px;
				}
			}
			a {
				display: inline-block;
				color: black;
				font-family: $ff-RobotoRegular;
				font-size: 11px;
				text-transform: uppercase;
				letter-spacing: 1.54px;
				line-height: 47px;
				border-radius: 9px;
			}
			&-demands {
				background-image: url("../images/internal_demands_bg.png");
				h5 {
					color: $col-yellow;
					max-width: 300px;
				}
				a {
					background-color: $col-yellow;
					&:hover {
						color: $col-yellow;
						background: black;
						span {
							&:after,
							&:before {
								border-color: $col-yellow;
							}
						}
					}
				}
			}
			&-premiere {
				background-image: url("../images/internal_premiere_bg.png");
				h5 {
					color: $col-pink;
				}
				a {
					background-color: $col-pink;
					&:hover {
						color: $col-pink;
						background: black;
						span {
							&:after,
							&:before {
								border-color: $col-pink;
							}
						}
					}
				}
			}
		}
		&--wrap {
			padding-top: 184px;
			padding-left: 8.9%;
			display: flex;
			justify-content: space-between;
			@media (max-width: 1024px) {
				padding-left: 4.3%;
			}
			@media (max-width: 1023px) {
				display: flex;
				flex-direction: column;
				padding-right: 4.3%;
			}
			@media (max-width: 360px) {
				padding-top: 164px;
				padding-left: 0;
				padding-right: 0;
			}
		}
	}
	.feedback{
		&__social {
			min-width: 39.5%;
			@media (max-width: 950px) {
				text-align: center;
			}
			&-title {
				padding-bottom: 21px;
				color: black;
				font-family: $ff-RobotoRegular;
				font-size: 14px;
				text-transform: uppercase;
				letter-spacing: 1.96px;
			}
			&-link {
				display: flex;
				align-items: center;
				@media (max-width: 950px) {
					justify-content: center;
				}
				a {
					position: relative;
					display: inline-block;
					margin-right: 5.5px;
					height: 28px;
					width: 28px;
					border-radius: 100px;
					border: 1px solid transparent;
					transition: all .3s ease;
					&:hover {
						&:after {
							filter: invert(100%);
						}
					}
					&:after {
						content: '';
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						background-image: url("../images/social_sprite.png");
						transition: all .3s ease;
					}
					&.twitter {
						background-color: #30a5dd;
						&:after {
							width: 15px;
							height: 12px;
							background-position: 1px -2px;
						}
						&:hover {
							background-color: transparent;
							border-color: #30a5dd;
						}
					}
					&.facebook {
						background-color: #3a5a99;
						&:after {
							width: 9px;
							height: 14px;
							background-position: -36px -1px;
						}
						&:hover {
							background-color: transparent;
							border-color: #3a5a99;
						}
					}
					&.vk {
						background-color: #5a7da4;
						&:after {
							width: 16px;
							height: 11px;
							background-position: -66px -3px;
						}
						&:hover {
							background-color: transparent;
							border-color: #5a7da4;
						}
					}
					&.googleplus {
						background-color: #d14334;
						&:after {
							width: 18px;
							height: 13px;
							background-position: -98px -2px;
						}
						&:hover {
							background-color: transparent;
							border-color: #d14334;
						}
					}
					&.ok {
						background-color: #f3822e;
						&:after {
							width: 9px;
							height: 14px;
							background-position: -135px -1px;
						}
						&:hover {
							background-color: transparent;
							border-color: #f3822e;
						}
					}
					&.youtube {
						background-color: #cf413e;
						&:after {
							width: 14px;
							height: 14px;
							background-position: -166px 0px;
						}
						&:hover {
							background-color: transparent;
							border-color: #cf413e;
						}
					}
					&.mailru {
						background-color: #168ce2;
						&:after {
							width: 18px;
							height: 17px;
							background-position: -197px 1px;
						}
						&:hover {
							background-color: transparent;
							border-color: #168ce2;
						}
					}
					&.instagram {
						background-color: #906552;
						&:after {
							width: 15px;
							height: 15px;
							background-position: -233px -1px;
						}
						&:hover {
							background-color: transparent;
							border-color: #906552;
						}
					}
					&.pinterest {
						 background-color: #bd081d;
						 &:after {
							 width: 15px;
							 height: 18px;
							 background-position: -266px 1px;
						 }
						 &:hover {
							 background-color: transparent;
							 border-color: #bd081d;
						 }
					 }
				}
			}
			&-popcorn {
				position: relative;
				border-bottom: 1px solid rgba(#000, .2);
				border-top: 1px solid rgba(#000, .2);
				height: 320px;
				margin-top: 82px;
				@media (max-width: 950px) {
					margin-top: 22px;
				}
				@media (max-width: 360px) {
					height: 240px;
				}
				&:after {
					content: '';
					width: 60.17%;
					height: 86.56%;
					position: absolute;
					bottom: 0;
					left: 47%;
					transform: translateX(-50%);
					background-image: url("../images/popcorn.png");
					background-repeat: no-repeat;
					background-size: contain;
					background-position-y: bottom;
					@media (max-width: 1024px) {
						width: 80.17%;
					}
					@media (max-width: 950px) {
						background-position-x: center;
						left: 50%;
					}
				}
			}
		}
		&__form {
			&-title {
				padding-top: 11px;
				padding-left: 13px;
				padding-bottom: 61px;
				color: $col-limegreen;
				font-family: $ff-RobotoBold;
				font-size: 46px;
				letter-spacing: .92px;
				@media (max-width: 950px) {
					padding-bottom: 35px;
				}
				@media (max-width: 360px) {
					font-size: 32px;
					line-height: 37px;
					padding-bottom: 25px;
				}
			}
			form {
				padding-left: 18px;
				padding-right: 10%;
				position: relative;
				@media (max-width: 950px) {
					padding-right: 0;
					padding-bottom: 60px;
				}
				@media (max-width: 950px) {
					padding-left: 0;
				}
				input,
				textarea {
					width: 100%;
					background: transparent;
					border-radius: 4px;
					margin-bottom: 10px;
					padding-left: 23px;
					border: 1px solid rgba(#000, .2);
					color: rgba(#000, .7);
					font-family: $ff-RobotoRegular;
					font-size: 16px;
					font-weight: 300;
					&:hover,
					&:focus {
						border-color:  $col-limegreen;
						color: black;
					}
					&.isempty {
						border-color: rgba(#000, .7);
						color: rgba(#000, .7);
					}
				}
				input {
					line-height: 52px;
				}
				textarea {
					padding-top: 9px;
					line-height: 33px;
					height: 150px;
					resize: none;
					padding-right: 10px;
					@media (max-width: 360px) {
						line-height: 20px;
						padding-top: 18px;
					}
				}
				button {
					line-height: 62px;
					color: black;
					font-family: $ff-RobotoRegular;
					font-size: 14px;
					text-transform: uppercase;
					letter-spacing: 1.96px;
					background: $col-limegreen;
					padding: 0;
					border-radius: 10px;
					margin-top: 27px;
					border: none;
					cursor: pointer;

					@media (max-width: 950px) {
						display: block;
						margin-left: auto;
						margin-right: auto;
						left: 50%;
						transform: translateX(-50%);
					}
					&:hover {
						background: black;
						color: $col-limegreen;
						span {
							&:after,
							&:before {
								border-color: $col-limegreen;
							}
						}
					}
				}
				.formModal {
					top: 100px;
					&--wrap {
						top: 0;
						@media (max-width: 768px) {
							background: rgba(#fff, .9);
						}
					}
					&-close {
						&:after,
						&:before {
							background: black;
						}
					}
					&-text {
						color: black;
					}
				}
			}
		}
		&--wrap {
			padding-left: 8.9%;
			padding-top: 45px;
			padding-bottom: 307px;
			display: flex;
			justify-content: space-between;
			@media (max-width: 1024px) {
				padding-left: 4.3%;
				padding-bottom: 137px;
			}
			@media (max-width: 950px) {
				flex-direction: column;
				padding-right: 4.3%;
				padding-bottom: 0;
			}
		}
	}
	.footer {
		display: flex;
		&--wrap {
			background-image: url("../images/footer_bg.png");
			background-size: cover;
			padding-top: 30px;
			padding-bottom: 70px;
			@media (max-width: 360px) {
				padding-left: 4.3%;
				padding-right: 4.3%;
			}
		}
	}
}