.premiere {
	&--wrap {
		background-image: url("../images/premiere_bg.png");
		background-size: cover;
		padding-top: 231px;
		padding-bottom: 362px;
		@media (max-width: 1200px) {
			background-position: center;
		}
		@media (max-width: 1024px) {
			padding-top: 141px;
			padding-bottom: 152px;
		}
		@media (max-width: 768px) {
			padding-top: 111px;
			padding-bottom: 122px;
			background-position: right;
		}
		@media (max-width: 600px) {
			background-position: bottom;
		}
		@media (max-width: 480px) {
			background-position: left;
		}
		@media (max-width: 360px) {
			padding-top: 59px;
			padding-bottom: 114px;
			padding-left: 23px;
			background-position: right;
		}
		@media (max-width: 359px) {
			padding-left: 0;
		}
		.wrapper {
			display: flex;
			justify-content: flex-end;
		}
	}
	p {
		padding-left: 5px;
	}
	h3 {
		color: $col-pink;
		padding-bottom: 6px;
		@media (max-width: 360px) {
			padding-bottom: 20px;
			padding-top: 43px;
			padding-left: 3px;
			letter-spacing: 1px;
		}
	}
	h5 {
		color: white;
		padding-left: 4px;
		padding-bottom: 55px;
		@media (max-width: 360px) {
			padding-bottom: 66px;
		}
	}
	ul {
		padding-bottom: 59px;
		@media (max-width: 360px) {
			padding-bottom: 43px;
			padding-top: 39px;
		}
		li {
			@media (max-width: 360px) {
				letter-spacing: 0;
			}
		}
	}
	a {
		background-color: $col-pink;
		&:hover {
			color: $col-pink;
			background: black;
			span {
				&:after,
				&:before {
					border-color: $col-pink;
				}
			}
		}
	}
}